.App {
  text-align: center;
  background-image: linear-gradient(to bottom right,#222,white);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  height: 100px;
  width: 100%;
  padding: 20px;
  color: white;
  position: fixed;
}

.Search-bar {
  margin-left: auto;
  color: white;
}

.Gifs {
  padding-top: 160px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
