.navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #222;
  padding: 10px;
  position: fixed;
  height: 100%;
  width: 20%;
  align-items: center;
}

.title {
  color: white;
  font-size: 20px;
}

.searchBar {
  align-self: center;
  position: fixed;
  color: white;
}

.favorites {
  align-self: center;
}
